.App {
  text-align: center;
}

.misa-logo{
  animation: App-logo-spin infinite 10s linear;
  height: 20vmin;
  padding-left: 100mm;
  pointer-events: none;
}

.misa-image{
  position: absolute;
  margin-left: 12cm;
  height: 31mm;
  width: 6cm;
}

.mcmaster{
  float: left;
  margin-left: 35mm;
  height: 31mm;
  width: 4cm;

}
  /* Misa Header */

.misa-header{
  position: relative;
  font-family: arial;
  font-size: 0.01pt;
  background-color: goldenrod;
  

}

  /* Misa background */

.misa-back {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

  /* Rotation of the misa logo */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button{
  padding-top: 5mm;
  padding-bottom: 5mm;
  background-color: #282c34;
  align-content: center;
}


h1{
  font-size:80px;
  height:100px;
  margin-right: 43mm;
  margin-bottom: 5mm;
  }


h2{
  font-size:75px;
  height:100px;
}